@using BlazorState
@using MP.BlazorStateDemo.Core.Application.Features.Counter

@inherits BlazorStateComponent

<div>

    <h1>Counter</h1>

    <p id="countresult">Current count: @CurrentCount</p>

    <button class="btn btn-warning" 
            id="btnDecrementCount"
            @onclick="DecrementCount">
        Decrement
    </button>

    <button class="btn btn-primary" 
            id="btnIncrementCount"
            @onclick="IncrementCount">
        Increment
    </button>

</div>