@page "/fetchdata"

@using MP.BlazorStateDemo.Components

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<div style="width: 800px; height: 100%;">

    <WeatherForecastComponent />

</div>